<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="about-container">
            <div class="about-container-col">
                <div class="about-container-text">
                    <p>Eyo, I'm  on an adventure. ( ‾ʖ̫‾)</p>
                    <p>I'm quite timid.</p>
                    <p> Infectious excitement.</p>
                    <p> Divergent skills can converge into something magical.</p>
                </div>
            </div>
            <div class="about-container-col">
                <img class="about-container-image"type="image/png" src="/images/rabbit-holding-sunflower.png" alt="Rabbit holding sunflower">
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>